
/* Google Maps API */
#map {
    height: 400px;
    width: 400px;
  }
  @media only screen and (max-width: 640px){

  }
  body{
    background-image: url(../images/mainBackground.jpg);
    background-position: center;
    background-repeat: repeat;
    background-position-y: top;
  }
.navtitle{
  background-image: url(../images/woodBackground2.jpg);
}