
/* Google Maps API */
#map {
    width: 100%;
    height: 400px;
  }
  @media only screen and (max-width: 640px){

  }
  body{
    background-image: url(../images/bamboo\ main\ background\ 2.jpg);
    background-position: center;
    background-repeat: repeat;
    background-position-y: top;
  }
.navtitle{
  background-image: url(../images/jumbotron2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  background-color: rgb(67, 180, 67);
}

.loader {
  /* color of wheel */
  border: 16px solid black;
  border-radius: 50%;
  /* color of inside arc */
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}